<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" th:fragment="footer">
<head>
<meta charset="UTF-8">
<title>footer</title>
<!--  css -->
<link type="text/css" href='css/footer.css' rel="stylesheet">
</head>
<body>
<div class="footerText">
	<div>
		<div>** This site is TEST Version **</div><br/>
		<div>
			© 2024 ZD HMD. All rights reserved. FC ONLINE is a registered trademark of Nexon and Electronic Arts.
		</div>
		<div>
			ZD HMD utilizes data provided by
			<a href="https://openapi.nexon.com/ko/">
				<img  src="https://openapi.nexon.com/_next/static/media/logo.f74749d5.svg"></img>
			</a> 
		</div>
		<div>문의/개선요청 : <a class="mail" href="mailto:﻿bchwang.dv@gmail.com">bchwang.dv@gmail.com</a>
		</div>
	</div>
</div>
</body>
</html>