<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta property="og:title" content="ZanD" />
<meta property="og:description" content="NEXON FC ONLINE 전적 검색, MATCH ANALYST" />
<meta property="og:image" content="image/logo.png" />
<meta property="og:url" content="https://zand.koyeb.app/" />
<link rel="icon" href="image/favicon.png"/> 
<title>ZanD</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<div th:replace="~{navbar :: navbar}"></div>
<link type="text/css" href='css/main.css' rel="stylesheet">
<body>
<div id="wrap">
	<div class="logoContainer">
		<p class="logoMain">ZD</p>
		<p class="logoPhrase">NEXON FC Online Match Analyst</p>
	</div>
	<div class="searchbarContainer">
		<div class="searchbar">
			<form id="searchForm" action="searchResult">
				<div class="search-container">
				    <input id="nickname" name="nickname" type="text" class="search-input" placeholder="구단주 명을 입력하세요">
				    <button id="searchButton" type="button" class="btn searchButton">🔍</button>
				</div>
			</form>
		</div>
	</div>
	<div class="patchNoteContainer">
		<div class="patchNote">
			<p class="PatchNoteTitle">[ZanD 패치노트]<p/>
			<hr/>
			<p class="patchNoteContents">3/18 ZanD 서비스 시작</p>
		</div>
	</div>
</div>
<!-- footer -->
<div th:replace="~{footer :: footer}"></div>
</body>
<script>
const searchButton = document.getElementById("searchButton");

searchButton.addEventListener('click', ()=> {
	const nickname = document.getElementById("nickname").value;
	if(nickname == null || nickname.trim() == '') {
		return;
	} else {
		const searchForm = document.getElementById("searchForm");
		searchForm.submit();
	}
});
</script>
</html>