<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ZD HMD</title>
<!-- JQuery 3.7.1-->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<!-- navbar -->
<div th:replace="~{navbar :: navbar}"></div>
<!-- css -->
<link type="text/css" href='css/main.css' rel="stylesheet">
<body>
<div class="halfline"></div>

<div class="logoContainer">
<!-- 	<img id="largeLogo" src="image/largeLogo.png"/> -->
</div>
<div class="searchbarContainer">
	<div class="searchbar">
		<form id="searchForm" action="searchResult">
			<div class="search-container">
			    <input id="nickname" name="nickname" type="text" class="search-input" placeholder="구단주 명을 입력하세요">
			    <button id="searchButton" type="button" class="btn searchButton">🔍</button>
			</div>
		</form>
	</div>
</div>
</body>
<!-- footer -->
<div th:replace="~{footer :: footer}"></div>
<script>
const searchButton = document.getElementById("searchButton");

searchButton.addEventListener('click', ()=> {
	const nickname = document.getElementById("nickname").value;
	if(nickname == null || nickname.trim() == '') {
		return;
	} else {
		const searchForm = document.getElementById("searchForm");
		searchForm.submit();
	}
});
</script>
</html>