<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ZD HMD</title>
<!-- JQuery 3.7.1-->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<!-- navbar -->
<div th:replace="~{navbar :: navbar}"></div>
<!-- css -->
<link type="text/css" href='css/main.css' rel="stylesheet">
<link type="text/css" href='css/playerSearch.css' rel="stylesheet">
<body>
<div id="wrap">
	<div class="filter-container">
		<div id="playersSeasonList" class="season-container"></div>
		<div id="positionList" class="position-container">
			포지션
			<!--공격수-->
			<div class="btn-group" role="group" aria-label="FW">
				<input type="checkbox" class="btn-check" id="ST" autocomplete="off">
				<label class="btn btn-outline-danger" for="ST">ST</label>
				<input type="checkbox" class="btn-check" id="LW" autocomplete="off">
				<label class="btn btn-outline-danger" for="LW">LW</label>
				<input type="checkbox" class="btn-check" id="RW" autocomplete="off">
				<label class="btn btn-outline-danger" for="RW">RW</label>
				<input type="checkbox" class="btn-check" id="CF" autocomplete="off">
				<label class="btn btn-outline-danger" for="CF">CF</label>
			</div>
			<!--미드필더-->
			<div class="btn-group" role="group" aria-label="MF">
				<input type="checkbox" class="btn-check" id="CM" autocomplete="off">
				<label class="btn btn-outline-success" for="CM">CM</label>
				<input type="checkbox" class="btn-check" id="CAM" autocomplete="off">
				<label class="btn btn-outline-success" for="CAM">CAM</label>
				<input type="checkbox" class="btn-check" id="CDM" autocomplete="off">
				<label class="btn btn-outline-success" for="CDM">CDM</label>
				<input type="checkbox" class="btn-check" id="LM" autocomplete="off">
				<label class="btn btn-outline-success" for="LM">LM</label>
				<input type="checkbox" class="btn-check" id="RM" autocomplete="off">
				<label class="btn btn-outline-success" for="RM">RM</label>
			</div>
			<!--수비수-->
			<div class="btn-group" role="group" aria-label="DF">
				<input type="checkbox" class="btn-check" id="CB" autocomplete="off">
				<label class="btn btn-outline-primary" for="CB">CB</label>
				<input type="checkbox" class="btn-check" id="LB" autocomplete="off">
				<label class="btn btn-outline-primary" for="LB">LB</label>
				<input type="checkbox" class="btn-check" id="RB" autocomplete="off">
				<label class="btn btn-outline-primary" for="RB">RB</label>
				<input type="checkbox" class="btn-check" id="LWB" autocomplete="off">
				<label class="btn btn-outline-primary" for="LWB">LWB</label>
				<input type="checkbox" class="btn-check" id="RWB" autocomplete="off">
				<label class="btn btn-outline-primary" for="RWB">RWB</label>
			</div>
			<!--골키퍼-->
			<div class="btn-group" role="group" aria-label="FW">
				<input type="checkbox" class="btn-check" id="GK" autocomplete="off">
				<label class="btn btn-outline-warning" for="GK">GK</label>
			</div>
		</div>
		<div id="etcFilter" class="etcFilter-container">
			<div class="OVR-container">OVR
				<input id="minOVR" class="OVRinput" type="number"></input>~<input id="maxOVR" class="OVRinput" type="number"></input>
			</div>
			<div class="nation-container">국적<button id="nation" class="btn nationInput dropdown-toggle" type="button">----------</button></div>
			<div class="career-container">커리어<button id="career" class="btn careerInput dropdown-toggle" type="button">----------</button></div>
		</div>
	</div>
	
	<div class="searchbarContainer">
		<div class="searchbar">
			<form id="searchForm" action="searchResult">
				<div class="search-container">
				    <input id="nickname" name="nickname" type="text" class="search-input" placeholder="선수명을 입력하세요">
				    <button id="searchButton" type="button" class="btn searchButton">🔍</button>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
<!-- footer -->
<div th:replace="~{footer :: footer}"></div>

<script>

// window.onload = function() {
// fetch('playerSearchResult', { 
// 	method: 'GET' 
// })
// .then(response => response.json())
// .then(data => {
// 		console.log(data);
// 	})
// };



let spDataMap = {};
let seasonDataMap = new Map();
let spPositionDataMap = {};

function loadMetaData() {
	const spDataReq = "https://open.api.nexon.com/static/fconline/meta/spid.json";
	const seasonDataReq = "https://open.api.nexon.com/static/fconline/meta/seasonid.json";
	const spPositionDataReq = "https://open.api.nexon.com/static/fconline/meta/spposition.json";

	// 모든 데이터 로드를 Promise.all로 처리
	Promise.all([
		fetch(spDataReq).then(response => response.json()).then(spData => {
			spData.forEach(player => {
				spDataMap[player.id] = player;
			});
		}),
		fetch(seasonDataReq).then(response => response.json()).then(seasonData => {
			seasonData.forEach(season => {
				seasonDataMap.set(season.seasonId, season);
			});
		}),
		fetch(spPositionDataReq).then(response => response.json()).then(spPositionData => {
			spPositionData.forEach(spPosition => {
				spPositionDataMap[spPosition.spposition] = spPosition;
			});
		})
	]).then(() => {
		// 모든 데이터가 로드된 후에 화면에 데이터를 표시
		displaySeasonImages();
	});
}

// 메타데이터 로드
loadMetaData();

function displaySeasonImages() {
	const playersSeasonList = document.getElementById("playersSeasonList");
	seasonDataMap.forEach((season, seasonId) => {

		const seasonImgDiv = document.createElement("div");
		seasonImgDiv.classList.add("seasonImgDiv");
		
		const seasonImg = document.createElement("img");
		seasonImg.classList.add("seasonImg");
		
		const seasonCheckbox = document.createElement("input");
		seasonCheckbox.classList.add("seasonCheckbox");
		seasonCheckbox.id = "seasonCheckbox-" + seasonId;
		seasonCheckbox.type = "checkbox";
		
		const seasonImgLabel = document.createElement("label");
		seasonImgLabel.htmlFor = "seasonCheckbox-" + seasonId;
		seasonImgLabel.appendChild(seasonImg);
		
		const seasonImgSrc = season.seasonImg;
		seasonImg.src = seasonImgSrc;

		// div에 이미지 추가
		seasonImgDiv.appendChild(seasonCheckbox);
		seasonImgDiv.appendChild(seasonImgLabel);

		// 전체 리스트에 시즌 아이템 추가
		playersSeasonList.appendChild(seasonImgDiv);
	});
}	


const searchButton = document.getElementById("searchButton");

searchButton.addEventListener('click', ()=> {
});
</script>
</html>