<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ZanD</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<div th:replace="~{searchbar :: searchbar}"></div>
<div th:replace="~{navbar :: navbar}"></div>
<link type="text/css" href='css/searchResult.css' rel="stylesheet">
<link type="text/css" href='css/grade.css' rel="stylesheet">
<link type="text/css" href='css/position.css' rel="stylesheet">
<body>
<div id="wrap">
	<div id="result-Container">
		<div class="namecardContainer">
			<div class="namecard">
				<div id="nickname">[[${nickname}]]</div>
				<div id="divisionDiv">
					<div class="division" id="officialDivision"></div>
					<div class="division" id="managerModeDivision"></div>
				</div>
			</div>
			<div style="width: 680px"></div>
		</div>
		<input type="hidden" id="ouidDiv"></input> 
		<div class="tabResultContainer">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<button class="nav-link active" id="officialMatch" value="50" >공식경기</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="classic1on1" value="40">클래식 1on1</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="managerMode" value="52">감독모드</button>
				</li>
			</ul>
			<div class="loadingResultContainer">
				<div class="loading">
					<img class="loadingImg m-3" src='image/loading.gif'>
					<h6>매치정보를 불러오고 있습니다..</h6>
				</div>
				<div class="resultContainer">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="playerModal" class="modal">
    <div class="modal-content">
        <span id="closeButton" class="close">X</span>
        <div id="playerModalHeader"></div>
        <div id="playerMatchDetail"></div>
    </div>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
<script th:inline="javascript">

const API_KEY = "live_cae361c9b131e27b911a544f8f7a1b8b67203348dc67e50449555d9ad071d788efe8d04e6d233bd35cf2fabdeb93fb0d";
const resultDiv = $("#searchResult");
const resultContainer = $(".resultContainer");
const nickname = [[${nickname}]]
let loadStatus = {};

if(nickname.trim() == '' || nickname == null) {
	alert('닉네임을 입력해야합니다.');
	window.location.replace('/main');
} else if (nickname.includes(' ')) {
	alert('닉네임엔 공백이 포함될 수 없습니다.');
	window.location.replace('/main');
}

const ouidReq = "https://open.api.nexon.com/fconline/v1/id?nickname=" + nickname;
let conditionNo = [[${conditionNo}]];

fetch(ouidReq, {
	headers:{
		"x-nxopen-api-key": API_KEY
	}
})
.then(response => response.json())
.then(data => {
	ouid = data.ouid
	$("#ouidDiv").val(ouid);
	loadDivisionData(ouid);
	
	if(data.error) {
		alert('존재하지 않는 닉네임입니다.');
		window.location.replace('http://localhost:8080/main');
	}
	
	const tabs = document.getElementsByClassName('nav-link')
	for(const tab of tabs){
		tab.addEventListener('click', function() {
			for(const tab of tabs){
				tab.classList.remove('active');
			}
			this.classList.add('active');
			resultContainer.empty();
			$(".loading").css("display","block");
			$(".nav-item").css("pointer-events","none");
			loadStatus = {};
			loadMatchData(ouid, this.value);
		});
	}
	loadMatchData(ouid, conditionNo);
})
.catch(error => console.error(error));

function loadDivisionData() {
	const divisionReq = "https://open.api.nexon.com/fconline/v1/user/maxdivision?ouid=" + ouid;
	fetch(divisionReq, {
		headers: {
            "x-nxopen-api-key": API_KEY
        }
	})
	.then(response => response.json())
    .then(userDivisions => {
    	const officialDivision = document.getElementById("officialDivision");
    	const managerModeDivision = document.getElementById("managerModeDivision");
    	
    	for(const userDivision of userDivisions) {
    		if (userDivision.matchType == 50) {
    			officialDivision.innerHTML = userDivision.division;
    		} else if (userDivision.matchType == 52) {
	    		managerModeDivision.innerHTML = userDivision.division;
    		}
    	}
    	
    	const DivisionListReq = "https://open.api.nexon.com/static/fconline/meta/division.json";
    	fetch(DivisionListReq, {})
    	.then(response => response.json())
    	.then(divisionList => {
    		for(const division of divisionList) {
    			if(officialDivision.innerHTML == division.divisionId) {
    				officialDivision.innerHTML = "공식경기 최고티어 : ";
    				officialDivision.innerHTML += '<img class="divisionImg" src="https://ssl.nexon.com/s2/game/fo4/obt/rank/large/update_2009/ico_rank' + divisionList.findIndex(i => i == division) + '_m.png">'
    				officialDivision.innerHTML += "(" + division.divisionName + ")";
    			}
    			if(managerModeDivision.innerHTML == division.divisionId) {
    				managerModeDivision.innerHTML = "감독모드 최고티어 : ";
    				managerModeDivision.innerHTML += '<img class="divisionImg" src="https://ssl.nexon.com/s2/game/fo4/obt/rank/large/update_2009/ico_rank' + divisionList.findIndex(i => i == division) + '_m.png">'
    				managerModeDivision.innerHTML += "(" + division.divisionName + ")";
    			}
    		}
		})
    })
	.catch(error => console.error(error));
}

let currentPage = 1;
function loadMatchData(ouid, conditionNo, page = 1) {
	//페이지네이션
	const resultLimit = 10;
	const offset = (page - 1) * resultLimit ;
	const matchReq = "https://open.api.nexon.com/fconline/v1/user/match?ouid=" + ouid + "&matchtype=" + conditionNo + "&limit=" + resultLimit + "&offset=" + offset;
	fetch(matchReq, {
		headers: {
            "x-nxopen-api-key": API_KEY
        }
	})
	.then(response => response.json())
    .then(matchIds => {
    	if (matchIds.length == 0 && currentPage == 1) {
    		const matchContainer = document.createElement("div");
            matchContainer.className = "noResult";
            matchContainer.innerText = '최근 경기 결과가 없습니다.';
            resultContainer.append(matchContainer);
            $(".loading").css("display","none");
            $(".nav-item").css("pointer-events","auto");
        	return;
        }
    	
        const matchDetailPromises = matchIds.map(matchId => {
		const matchDetailReq = "https://open.api.nexon.com/fconline/v1/match-detail?matchid=" + matchId;
		return fetch(matchDetailReq, {
				headers: {
					"x-nxopen-api-key": API_KEY
				}
			}).then(response => response.json());
        });
        
        Promise.all(matchDetailPromises)
        .then(matchDetails => {
        	matchDetails.sort((a, b) => new Date(b.matchDate) - new Date(a.matchDate));
        	const usersOuid = $("#ouidDiv").val();
            matchDetails.forEach((data, index) => {
            	const numbering = (currentPage - 1) * resultLimit + index;
            	
            	const matchContainer = document.createElement("div");
                matchContainer.className = "match-container";
                matchContainer.id = `match-container-${numbering}`;
				
                const accordionDiv = document.createElement("div");
                const accordionBtn = document.createElement("button");
                
                accordionBtn.className = "accordion-button button-" + numbering + " collapsed";
                
                accordionBtn.setAttribute("data-bs-toggle", "collapse");
                accordionBtn.setAttribute("data-bs-target", `#matchDetailContent-${numbering}`);
                accordionBtn.setAttribute("aria-expanded", "false");
                accordionBtn.setAttribute("aria-controls", `matchDetailContent-${numbering}`);
                
                const matchDetailContent = document.createElement("div");
                matchDetailContent.id = `matchDetailContent-${numbering}`;
                matchDetailContent.className = "accordion-collapse collapse";
                
                const dateDiv = document.createElement("div");
                const matchTypeDiv = document.createElement("div");
                const opResultDiv = document.createElement("div");
                const matchResultDiv = document.createElement("div");
                const matchContainerSub1 = document.createElement("div");
                matchContainerSub1.className = "sub1"
                const matchContainerSub2 = document.createElement("div");
                matchContainerSub2.className = "sub2"
                const matchContainerSub3 = document.createElement("div");
                matchContainerSub3.className = "sub3"
                
                accordionBtn.append(matchContainer);
                matchContainer.append(matchContainerSub1);
                matchContainer.append(matchContainerSub2);
                matchContainer.append(matchContainerSub3);
                accordionDiv.append(accordionBtn);
                accordionDiv.append(matchDetailContent);
                resultContainer.append(accordionDiv);
                
            	//날짜 및 시간 처리
                const KSTmatchDate = new Date(data.matchDate);
                KSTmatchDate.setHours(KSTmatchDate.getHours()+9);
                
				const matchYear = KSTmatchDate.getFullYear();
				const matchMonth = String(KSTmatchDate.getMonth() + 1).padStart(2, '0');
				const matchDay = String(KSTmatchDate.getDate()).padStart(2, '0');
				const matchHours = String(KSTmatchDate.getHours()).padStart(2, '0');
				const matchMinutes = String(KSTmatchDate.getMinutes()).padStart(2, '0');
				const matchTime = matchHours + ':' + matchMinutes;
                const matchDate = matchYear + '년 ' + matchMonth + '월 ' + matchDay + '일 ' + matchTime
                
            	//날짜 및 시간 출력
				dateDiv.innerHTML = matchDate;
                dateDiv.className = "date";
				matchContainerSub1.appendChild(dateDiv);

                //매치 타입 출력
                if(data.matchType == 50) {
                	matchTypeDiv.innerHTML = '<button type="button" class="btn btn-primary" disabled>공식경기</button>';
                } else if (data.matchType == 40) {
                	matchTypeDiv.innerHTML = '<button type="button" class="btn btn-info" disabled>클래식 1on1</button>';
                } else if (data.matchType == 52) {
                	matchTypeDiv.innerHTML = '<button type="button" class="btn btn-secondary" disabled>감독모드</button>';
                }
                matchContainerSub1.appendChild(matchTypeDiv);
				
                if(data.matchInfo[1] != undefined) {
                	if (data.matchInfo[0].ouid == usersOuid) {
    					var myInfo = data.matchInfo[0]
    					var opInfo = data.matchInfo[1]
    				} else {
    					var myInfo = data.matchInfo[1]
    					var opInfo = data.matchInfo[0]
    				}
    				
    				opResultDiv.innerHTML = 'vs. ' + opInfo.nickname;
    				opResultDiv.className = "opResult";
    				
    				//몰수승, 몰수패 Check
    				if(myInfo.matchDetail.matchEndType == 1) {
    					myInfo.matchDetail.matchResult = "몰수승"
    					opInfo.matchDetail.matchResult = "몰수패"
    				}
    				if(myInfo.matchDetail.matchEndType == 2) {
    					myInfo.matchDetail.matchResult = "몰수패"
    					opInfo.matchDetail.matchResult = "몰수승"
    				}
    				
    				matchResultDiv.innerHTML = myInfo.shoot.goalTotalDisplay + ' : ' + opInfo.shoot.goalTotalDisplay + ' '
    				const WDL = document.createElement("div");
    				WDL.className = "WDL";
    				WDL.innerHTML = myInfo.matchDetail.matchResult;
    				
    				//승부차기 Check
    				if(myInfo.shoot.shootOutScore != null && opInfo.shoot.shootOutScore != null) {
    					if(!(myInfo.shoot.shootOutScore == 0 && opInfo.shoot.shootOutScore == 0)){
        					matchResultDiv.innerHTML += "<div class='shootOut'>(" + myInfo.shoot.shootOutScore + "-" + opInfo.shoot.shootOutScore + ")</div>";
        				}
    				}
    				matchResultDiv.className = "matchResult"
					matchContainerSub2.appendChild(matchResultDiv);
    				matchContainerSub2.appendChild(opResultDiv);
    				matchContainerSub3.appendChild(WDL);
					
					const allPlayersDiv = document.createElement("div");
				    allPlayersDiv.id = "allPlayersDiv";
				    allPlayersDiv.classList.add('row');
				    
				    const myPlayersSal = document.createElement("div");
				    myPlayersSal.id = 'myPlayersSal-' + numbering;
				    myPlayersSal.classList.add('playersSal');
				    myPlayersSal.classList.add('col-6');
// 				    myPlayersSal.innerHTML = "총 급여 0/275"
				    		
				    const myPlayersDiv = document.createElement("div");
				    myPlayersDiv.id = 'myPlayersDiv-' + numbering;
				    myPlayersDiv.classList.add('playersDiv');
				    myPlayersDiv.classList.add('col-6');
				    
				    const mySubPlayersDiv = document.createElement("div");
				    mySubPlayersDiv.id = 'mySubPlayersDiv-' + numbering;
				    mySubPlayersDiv.classList.add('subPlayersDiv');
				    mySubPlayersDiv.classList.add('col-6');
				    
				    const opPlayersSal = document.createElement("div");
				    opPlayersSal.id = 'opPlayersSal-' + numbering;
				    opPlayersSal.classList.add('playersSal');
				    opPlayersSal.classList.add('col-6');
// 				    opPlayersSal.innerHTML = "총 급여 0/275"
				    
				    const opPlayersDiv = document.createElement("div");
				    opPlayersDiv.id = 'opPlayersDiv-' + numbering;
				    
				    opPlayersDiv.classList.add('playersDiv');
				    opPlayersDiv.classList.add('col-6');
				    
				    const opSubPlayersDiv = document.createElement("div");
				    opSubPlayersDiv.id = 'opSubPlayersDiv-' + numbering;
				    opSubPlayersDiv.classList.add('subPlayersDiv');
				    opSubPlayersDiv.classList.add('col-6');
				    
				    allPlayersDiv.append(myPlayersSal);
				    allPlayersDiv.append(opPlayersSal);
				    allPlayersDiv.append(myPlayersDiv);
				    allPlayersDiv.append(opPlayersDiv);
				    allPlayersDiv.append(mySubPlayersDiv);
				    allPlayersDiv.append(opSubPlayersDiv);
				    
				    matchDetailContent.append(allPlayersDiv);
				    
				  	//몰수승 체크
				    if(myInfo.matchDetail.matchResult == "몰수승") {
				    	opPlayersDiv.innerHTML = '<div class="forfeiture">몰수 경기는 경기 정보가 표시되지 않습니다.</div>';
    				}
				    //몰수패 체크
				    if(myInfo.matchDetail.matchResult == "몰수패") {
				    	myPlayersDiv.innerHTML = '<div class="forfeiture">몰수 경기는 경기 정보가 표시되지 않습니다.</div>';
    				}
				
					//승,패에 색 추가
					if (myInfo.matchDetail.matchResult == '승' || myInfo.matchDetail.matchResult == '몰수승') {
						accordionBtn.style.background = "#0077FF26"; //승
						WDL.style.color = "#0d6efd";
					} else if (myInfo.matchDetail.matchResult == '패' || myInfo.matchDetail.matchResult == '몰수패'){
						accordionBtn.style.background = "#FF000010"; //패
						WDL.style.color = "#dc3545";
					} else {
						accordionBtn.style.background = "#00FF0010"; //무
						WDL.style.color = "#198754";
					}
					
                } else {
                	accordionBtn.style.background = "#00000030";
                	opResultDiv.innerHTML = '상대 : 알수 없음';
                	matchResultDiv.innerHTML = '매치 불러오기를 실패했습니다.';
                	opResultDiv.classList.add('text-danger');
                	matchResultDiv.classList.add('text-danger');
                	matchContainerSub2.appendChild(opResultDiv);
                	matchContainerSub2.appendChild(matchResultDiv);
                }
				//매치 디테일 조회
                accordionBtn.addEventListener('click', ()=>{
                	loadMatchDetail(numbering, matchDetailContent, myInfo, opInfo)
                });
                
                
                //로딩 완료
                $(".loading").css("display","none");
                $(".nav-item").css("pointer-events","auto");
            });
            //더보기 구현
            const moreResult = document.createElement("button");
            moreResult.classList.add('moreResult');
            moreResult.classList.add('btn');
            moreResult.classList.add('btn-primary');
            moreResult.innerHTML = "더보기";
            moreResult.addEventListener('click', () => {
            	currentPage++;
            	$(".moreResult").css("display","none");
            	loadMatchData(ouid, conditionNo, currentPage);
            });
            resultContainer.append(moreResult);
        	if (matchIds.length < 10 || (matchIds.length == 0 && currentPage != 1)) {
        		$(".moreResult").css("display","none");
            }
        })
		.catch(error => console.error(error))
	})
	.catch(error => console.error(error))
}

//아코디언 버튼 클릭 시 호출되는 function
function loadMatchDetail(numbering, matchDetailContent, myInfo, opInfo) {
	
	if (loadStatus[numbering]) {
        return;
    }
	
	loadStatus[numbering] = true;
	
    let myPlayers = [];
    let opPlayers = [];
    let category;
    
   	for(var i = 0; i < myInfo.player.length; i++){
   		myPlayers[i] = myInfo.player[i];
		category = 0;
		loadPlayersInfo(numbering, myPlayers[i], category);
    }
    for(var i = 0; i < opInfo.player.length; i++){
   		opPlayers[i] = opInfo.player[i];
       	category = 1;
       	loadPlayersInfo(numbering, opPlayers[i], category);
    }
}

let spDataMap = {};
let seasonDataMap = {};
let spPositionDataMap = {};

function loadMetaData() {
	const spDataReq = "https://open.api.nexon.com/static/fconline/meta/spid.json";
	fetch(spDataReq)
	.then(response => response.json())
	.then(spData => {
		spData.forEach(player => {
			spDataMap[player.id] = player;
		});
	});
	
	const seasonDataReq = "https://open.api.nexon.com/static/fconline/meta/seasonid.json";
	fetch(seasonDataReq)
	.then(response => response.json())
	.then(seasonData => {
		seasonData.forEach(season => {
			seasonDataMap[season.seasonId] = season;
		});
	});
	
	const spPositionDataReq = "https://open.api.nexon.com/static/fconline/meta/spposition.json";
	fetch(spPositionDataReq)
	.then(response => response.json())
	.then(spPositionData => {
		spPositionData.forEach(spPosition => {
			spPositionDataMap[spPosition.spposition] = spPosition;
		});
	});
}
//메타데이터 로드
loadMetaData();

//상세 조회 시 선수 정보 조회
function loadPlayersInfo(numbering, playerInfo, category) {
    const myPlayersDiv = document.getElementById('myPlayersDiv-' + numbering);
    const mySubPlayersDiv = document.getElementById('mySubPlayersDiv-' + numbering);
    const opPlayersDiv = document.getElementById('opPlayersDiv-' + numbering);
    const opSubPlayersDiv = document.getElementById('opSubPlayersDiv-' + numbering);
	
    if (!spDataMap[playerInfo.spId]) return;
    
    const playerImgSrc = "https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/playersAction/p" + playerInfo.spId + ".png";
    const pId = Number(playerInfo.spId.toString().substring(3, 9));
    const onErrorImgSrc = "this.src='https://fco.dn.nexoncdn.co.kr/live/externalAssets/common/players/p" + pId + ".png'"
    const seasonId = seasonDataMap[playerInfo.spId.toString().substring(0, 3)].seasonId;
    const seasonImgSrc = seasonDataMap[playerInfo.spId.toString().substring(0, 3)].seasonImg;
    const cardBackImgSrc = seasonImgSrc.replace('/season/', '/card/');
    const playerName = spDataMap[playerInfo.spId].name;
    const playerGrade = playerInfo.spGrade;
    const playerGoal = playerInfo.status.goal ? `${playerInfo.status.goal} GOAL!` : "";
    const playerPosition = spPositionDataMap[playerInfo.spPosition]?.desc || "";
    const isSubPlayer = playerInfo.spPosition == 28;
    const targetDiv = category == 0 ? (isSubPlayer ? mySubPlayersDiv : myPlayersDiv) : (isSubPlayer ? opSubPlayersDiv : opPlayersDiv);
	
    if (isSubPlayer) {
        targetDiv.innerHTML += "<div class='subPlayer'>[후보] " + playerName + "</div>";
    } else {
    	//playerCard를 동적으로 생성
        const playerCard = document.createElement('div');
        playerCard.classList.add('player', 'player-' + playerInfo.spId);
        playerCard.setAttribute('data-position', playerPosition);
        
        //showPlayerDetail 함수 호출을 위한 이벤트 리스너 추가
        playerCard.addEventListener('click', function() {
            showPlayerDetail(playerInfo);
        });
        
        //goal div 생성
        const goalDiv = document.createElement('div');
        goalDiv.classList.add('goal');
        goalDiv.setAttribute('data-goal', playerInfo.status.goal);
        goalDiv.textContent = playerGoal;
        playerCard.appendChild(goalDiv);

        //카드 뒷면 이미지 div 생성
        const cardBackDiv = document.createElement('div');
        cardBackDiv.classList.add('cardBackDiv');
        const cardBackImg = document.createElement('img');
        cardBackImg.classList.add('cardBack');
        cardBackImg.setAttribute('src', cardBackImgSrc);
        cardBackDiv.appendChild(cardBackImg);
        playerCard.appendChild(cardBackDiv);

        //선수 이미지
        const playerImg = document.createElement('img');
        playerImg.classList.add('playerImg');
        playerImg.setAttribute('src', playerImgSrc);
        playerImg.setAttribute('onerror', onErrorImgSrc);
        playerCard.appendChild(playerImg);

        //선수 정보 div 생성
        const playerInfoDiv = document.createElement('div');
        playerInfoDiv.classList.add('playerInfo');
        const seasonImg = document.createElement('img');
        seasonImg.classList.add('seasonImg');
        seasonImg.setAttribute('src', seasonImgSrc);
        playerInfoDiv.appendChild(seasonImg);
        const gradeDiv = document.createElement('div');
        gradeDiv.classList.add('grade' + playerGrade);
        gradeDiv.textContent = playerGrade;
        playerInfoDiv.appendChild(gradeDiv);
        const positionDiv = document.createElement('div');
        positionDiv.classList.add('item');
        positionDiv.setAttribute('data-position', playerPosition);
        positionDiv.textContent = playerPosition;
        playerInfoDiv.appendChild(positionDiv);
        playerCard.appendChild(playerInfoDiv);

        //선수 이름 div 생성
        const playerNameDiv = document.createElement('div');
        playerNameDiv.classList.add('playerName');
        playerNameDiv.setAttribute('data-seasonId', seasonId);
        playerNameDiv.textContent = playerName;
        playerCard.appendChild(playerNameDiv);

        //targetDiv에 playerCard 추가
        targetDiv.appendChild(playerCard);
	}
}    

function showPlayerDetail(playerInfo) {
	const playerModal = document.getElementById('playerModal');
    const playerMatchDetail = document.getElementById('playerMatchDetail');
    
    const playerCard = document.querySelector('.player-' + playerInfo.spId);
    const clonedPlayerCard = playerCard.cloneNode(true);
    
    const playerModalHeader = document.getElementById('playerModalHeader');
    playerModalHeader.innerHTML = '';
    playerModalHeader.appendChild(clonedPlayerCard);
    
    const playerDetailDiv = document.createElement('div');
    playerDetailDiv.classList.add('playerDetail');

    const leftColumn = document.createElement('div');
    leftColumn.classList.add('leftColumn');

    const attackSection = document.createElement('div');
    attackSection.classList.add('section');
    const attackHeader = document.createElement('h4');
    attackHeader.textContent = '공격';
    attackSection.appendChild(attackHeader);
    const attackStats = document.createElement('p');
    attackStats.innerHTML = `
        슛 수: ${playerInfo.status.shoot || 0}<br/>
        유효 슛 수: ${playerInfo.status.effectiveShoot || 0}<br/>
        어시스트 수: ${playerInfo.status.assist || 0}<br/>
        득점 수: ${playerInfo.status.goal || 0}
    `;
    attackSection.appendChild(attackStats);
    leftColumn.appendChild(attackSection);

    const defenseSection = document.createElement('div');
    defenseSection.classList.add('section');
    const defenseHeader = document.createElement('h4');
    defenseHeader.textContent = '수비';
    defenseSection.appendChild(defenseHeader);
    const defenseStats = document.createElement('p');
    defenseStats.innerHTML = `
        블락 시도 수: ${playerInfo.status.blockTry || 0}<br/>
        블락 성공 수: ${playerInfo.status.block || 0}<br/>
        태클 시도 수: ${playerInfo.status.tackleTry || 0}<br/>
        태클 성공 수: ${playerInfo.status.tackle || 0}
    `;
    defenseSection.appendChild(defenseStats);
    leftColumn.appendChild(defenseSection);

    const cardSection = document.createElement('div');
    cardSection.classList.add('section');
    const cardHeader = document.createElement('h4');
    cardHeader.textContent = '카드';
    cardSection.appendChild(cardHeader);
    const cardStats = document.createElement('p');
    cardStats.innerHTML = `
        옐로 카드: ${playerInfo.status.yellowCards || 0}<br/>
        레드 카드: ${playerInfo.status.redCards || 0}
    `;
    cardSection.appendChild(cardStats);
    leftColumn.appendChild(cardSection);

    playerDetailDiv.appendChild(leftColumn);

    const rightColumn = document.createElement('div');
    rightColumn.classList.add('rightColumn');

    const skillSection = document.createElement('div');
    skillSection.classList.add('section');
    const skillHeader = document.createElement('h4');
    skillHeader.textContent = '기술';
    skillSection.appendChild(skillHeader);
    const skillStats = document.createElement('p');
    skillStats.innerHTML = `
        인터셉트 수: ${playerInfo.status.intercept || 0}<br/>
        디펜딩 수: ${playerInfo.status.defending || 0}<br/>
        패스 시도 수: ${playerInfo.status.passTry || 0}<br/>
        패스 성공 수: ${playerInfo.status.passSuccess || 0}<br/>
        드리블 시도 수: ${playerInfo.status.dribbleTry || 0}<br/>
        드리블 성공 수: ${playerInfo.status.dribbleSuccess || 0}<br/>
        볼 소유 시도 수: ${playerInfo.status.ballPossesionTry || 0}<br/>
        볼 소유 성공 수: ${playerInfo.status.ballPossesionSuc || 0}<br/>
        공중볼 경합 시도 수: ${playerInfo.status.aerialTry || 0}<br/>
        공중볼 경합 성공 수: ${playerInfo.status.aerialSuccess || 0}
    `;
    skillSection.appendChild(skillStats);
    rightColumn.appendChild(skillSection);

    playerDetailDiv.appendChild(rightColumn);

    playerMatchDetail.innerHTML = ''; //이전 내용 초기화
    playerMatchDetail.appendChild(playerDetailDiv);

    playerModal.style.display = 'block';
}

//모달 닫기 기능
document.getElementById('closeButton').addEventListener('click', function() {
    const playerModal = document.getElementById('playerModal');
    playerModal.style.display = 'none';
});

//모달 외부 클릭 시 닫기
window.onclick = function(event) {
    const modal = document.getElementById("playerModal");
    if (event.target == modal) {
        modal.style.display = "none";
    }
};
</script>
</html>