@charset "UTF-8";

@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-fluid {
	background: white;
	padding: 1rem;
}

.logoContainer {
	display: flex;
}

.logo {
	width: 75px;
	height: 75px;
}

.logoText {
	font-family: 'NEXONFootballGothicBA1';
	font-size: 50px;
}

