@charset "UTF-8";

#wrap {
	min-height: 70vh;
}

body {
	width: 100%;
	height: 100%;
	background: rgba(58,125,51,1);
	background-attachment: fixed;
	font-family: 'Paperlogy-8ExtraBold';
}

.logoContainer {
	text-align: center;
	margin: auto;
	padding: 20px;
}

.logoMain {
    font-family: 'HakgyoansimPuzzleTTF-Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Black.woff2') format('woff2');
	font-size: 130px;
	color: white;
	letter-spacing: 2px;
	margin: 40px 0 0 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logoPhrase {
	white-space: nowrap;
	font-size: 35px;
	color: #EEEEEE;
	letter-spacing: 1px;
	margin: 5px 0 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.searchbarContainer {
	display: flex;
	justify-content: center;
	margin: 100px;
}

.form-select {
	border: none;
	width: 150px;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
}

.searchbar {
	width: 800px;
	border-radius: 50px;
	background: white;
}

.search-container {
	display: flex;
	align-items: center;
	border: 2px solid #222222;
	border-radius: 50px;
	padding: 10px;
	width: 800px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patchNote {
	background: white;
	border: 2px solid #222222;
	border-radius: 20px;
	padding: 20px;
	width: 1000px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.patchNoteContainer {
	display: flex;
	justify-content: center;
	margin: 100px;
}

.search-input {
	width: 760px;
	border: none;
	padding: 5px;
	font-size: 16px;
	margin-left: 30px;
	outline: none;
}

.searchButton:focus {
	box-shadow: none;
}

