@charset "UTF-8";

@font-face {
    font-family: 'HakgyoansimPuzzleTTF-Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimPuzzleTTF-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

.container {
	display: flex;
	justify-content: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo a{
	font-family: 'HakgyoansimPuzzleTTF-Black';
	font-size: 1rem;
	text-decoration: none;
	color: white;
	text-shadow: 0.1rem 0.1rem 10px black;
	flex-wrap: nowrap;
	overflow: hidden;
}

.navbar {
    color: white;
    align-items: center;
    padding: 10px;
    text-shadow: 0.1rem 0.1rem 10px black;
    white-space: nowrap;
    overflow: hidden;
}

.navbar div a {
	cursor: pointer;
	width:100%;
    color: white;
    font-family: 'Paperlogy-8ExtraBold';
    font-weight: bold;
    text-decoration: none;
    margin: 0rem 4rem;
    padding: 0.5rem;
    white-space: nowrap;
    display: inline-block;
}

.halfline {
	height: 30px;
	background: #EEEEEE;
}
