@charset "UTF-8";

#playersSeasonList {
	width: 1080px;
	display: flex;
	margin: auto;
	margin-top: 1.5rem;
	padding: 1rem;
	background: white;
	align-content: start;
	flex-wrap : wrap;
}

.dropdown-toggle {
	border: solid 1px;
}

.seasonImgDiv {
	margin: 0.5rem;
    width: 32px;
}

.seasonImg {
	opacity: 0.3;
	cursor: pointer;
}

.seasonCheckbox {
	display: none;
}

input[type=checkbox]:checked + label>img {
	opacity: 1;
}

.position-container {
	width: 1080px;
	margin: auto;
	padding: 1rem;
	background: white;
}

.etcFilter-container {
	width: 1080px;
	margin: auto;
	padding: 1rem;
	background: white;
}
.OVR-container {
	margin: 1rem 0rem;
	margin-top: 0rem;
}
.nation-container {
	margin: 1rem 0rem;
}
.career-container {
	margin: 1rem 0rem;
	margin-bottom: 0rem;
}


