@charset "UTF-8";

#playersSeasonList {
	width: 1080px;
	display: flex;
	margin: 1.5rem 1.5rem 0rem 1.5rem;
	padding: 1rem;
	background: white;
	align-content: start;
	flex-wrap : wrap;
}

.seasonImgDiv {
	margin: 0.5rem;
    width: 32px;
}

.seasonImg {
	opacity: 0.3;
	cursor: pointer;
}

.seasonCheckbox {
	display: none;
}

input[type=checkbox]:checked + label>img {
	opacity: 1;
}

#positionList {
	width: 1080px;
	margin: 0rem 1.5rem;
	padding: 1rem;
	background: white;
}