@charset "UTF-8";

/*포지션 위치 css*/
/* 공격수 */
.player[data-position=LW] {
    position: absolute;
    left: 10%;
    top: 7.5%;
}
.player[data-position=LS] {
    position: absolute;
    left: 30%;
    top: 5%;
}
.player[data-position=ST] {
    position: absolute;
    left: 40%;
    top: 5%;
}
.player[data-position=RS] {
    position: absolute;
    left: 50%;
    top: 5%;
}
.player[data-position=RW] {
    position: absolute;
    left: 70%;
    top: 7.5%;
}
.player[data-position=LF] {
    position: absolute;
    left: 20%;
    top: 13%;
}
.player[data-position=CF] {
    position: absolute;
    left: 40%;
    top: 15%;
}
.player[data-position=RF] {
    position: absolute;
    left: 55%;
    top: 13%;
}
/* 미드필더 */
.player[data-position=LAM] {
    position: absolute;
    left: 10%;
    top: 25%;
}
.player[data-position=CAM] {
    position: absolute;
    left: 40%;
    top: 25%;
}
.player[data-position=RAM] {
    position: absolute;
    left: 70%;
    top: 25%;
}
.player[data-position=LM] {
    position: absolute;
    left: 20%;
    top: 45%;
}
.player[data-position=LCM] {
    position: absolute;
    left: 25%;
    top: 35%;
}
.player[data-position=CM] {
    position: absolute;
    left: 40%;
    top: 30%;
}
.player[data-position=RCM] {
    position: absolute;
    left: 55%;
    top: 35%;
}
.player[data-position=RM] {
    position: absolute;
    left: 60%;
    top: 45%;
}
.player[data-position=LDM] {
    position: absolute;
    left: 30%;
    top: 45%;
}
.player[data-position=CDM] {
    position: absolute;
    left: 40%;
    top: 45%;
}
.player[data-position=RDM] {
    position: absolute;
    left: 50%;
    top: 45%;
}
/* 수비수 */
.player[data-position=LWB] {
    position: absolute;
    left: 10%;
    top: 55%;
}
.player[data-position=LCB] {
    position: absolute;
    left: 30%;
    top: 60%;
}
.player[data-position=CB] {
    position: absolute;
    left: 40%;
    top: 60%;
}
.player[data-position=RCB] {
    position: absolute;
    left: 50%;
    top: 60%;
}
.player[data-position=RWB] {
    position: absolute;
    left: 75%;
    top: 55%;
}
.player[data-position=LB] {
    position: absolute;
    left: 5%;
    top: 60%;
}
.player[data-position=SW] {
    position: absolute;
    left: 40%;
    top: 65%;
}
.player[data-position=RB] {
    position: absolute;
    left: 75%;
    top: 60%;
}
/* 골키퍼 */
.player[data-position=GK] {
    position: absolute;
    left: 40%;
    top: 80%;
}

.playerImg {
	width: 40px;
    vertical-align: middle;
}

.seasonImg {
	width: 20px;
}

.loadingImg {
	width: 50px;
}

/*포지션 이미지 css*/
.item[data-position=LS], .item[data-position=ST], .item[data-position=RS],
.item[data-position=LW], .item[data-position=LF],  .item[data-position=CF], .item[data-position=RF], .item[data-position=RW]
{
	margin: .2rem;
	background: linear-gradient(182deg, #c53414, #511f11);
	color: white;
	text-align:center;
	font-size: 11px;
	width: 30px;
	height: 16px;
}
.item[data-position=LAM],  .item[data-position=CAM], .item[data-position=RAM],
.item[data-position=LM], .item[data-position=LCM], .item[data-position=CM], .item[data-position=RCM], .item[data-position=RM],
.item[data-position=LDM],  .item[data-position=CDM], .item[data-position=RDM]
{
	margin: .2rem;
	background: linear-gradient(180deg, #66db4f, #1b4c14);
	color: white;
	text-align:center;
	font-size: 11px;
	width: 30px;
	height: 16px;
}

.item[data-position=LWB], .item[data-position=LCB],  .item[data-position=CB], .item[data-position=RCB], .item[data-position=RWB],
.item[data-position=LB],  .item[data-position=SW], .item[data-position=RB]
{
	margin: .2rem;
	background : linear-gradient(182deg, #3bb0e3, #12395b);
	color: white;
	text-align:center;
	font-size: 11px;
	width: 30px;
	height: 16px;
}

.item[data-position=GK] {
	margin: .2rem;
	background: linear-gradient(180deg, #e6db44, #796b15);
	color: white;
	text-align:center;
	font-size: 11px;
	width: 30px;
	height: 16px;
}
