@charset "UTF-8";

body {
	width: 100%;
	height: 100%;
	background: rgba(58,125,51,1);
	font-family: 'Paperlogy-8ExtraBold';
}

#wrap {
	min-height:100vh;
	position : relative;
	width: 100%;
}

.container {
	justify-content: center;
}

.namecard {
	width: 400px;
	height: 200px;
	padding: 20px;
	font-size: 30px;
	border-radius: 10px;
	background: #EEEEEE;
}

.noResult {
	height: 150px;
	margin: 20px;
	padding: 20px;
	font-size: 30px;
	border-radius: 10px;		
	background: #EEEEEE;
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-container {
	display: flex;
	font-size: 20px;
}

.date {
	margin: 0 0 10px 0;
}

.sub1, .sub2, .sub3 {
	height: 150px;
}

.sub2 {
	display: flex;
	justify-content:center;
	width: 700px;
	align-items: center;
}
.sub3 {
	display: flex;
	position: absolute;\
	top: 40px;
	left: 800px;
	width: 200px;
	justify-content: center;
	align-items: center;
}

.opResult {
	width: 200px;
}

.matchResult {
	font-size: 40px;
	margin: 10px;
	text-align: center;
}

.shootOut {
	font-size: 20px;
}


.WDL {
	font-size: 30px;
}

.accordion-button {
	color: black !important;
	margin: 10px 0px;
	border-radius: .25rem;
	justify-content: between;
}

.accordion-collapse {
	background: white;
	border-radius: .25rem;
}

.loadingResultContainer {
	text-align: center;
	width: 1080px;
	padding: 20px;
	margin:auto;
	background: lightgray;
	border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.namecardContainer {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.divisionImg {
	width: 40px;
	height: 40px;
}

.division {
	font-size: 20px;
	margin: 15px 0px;
}

#result-Container {
	display: block;
}

#searchResult {
	background: lightgray;
}

.nav-tabs {
	width: 1080px;
	border-bottom : none;
	margin:auto;
}

.nav-item {
	background: gray;
	border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.nav-link {
	color: black;
	text-decoration: none;
	transition: color .15s ease-in-out;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: black;
	text-decoration: none;
    background-color: lightgray;
    border-color: lightgray;
}

.nav-item:focus, .nav-item:hover {
    color: white;
    border: none;
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

#allPlayersDiv {
	display: flex;
}

.playersDiv {
	width: 470px;
	height: 600px;
	border: solid 2px #EEEEEE;
	margin: auto;
	background: rgba(58,125,51,0.9);
	position: relative;
}

.forfeiture {
	position: absolute;
	width : 300px;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
}

.player {
	width: 100px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 10px;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.player:hover {
    transform: scale(1.4);
    z-index: 10;
    position: relative;
}

.playerInfo {
    display: flex;
    align-items: center;
}

.playerImg {
	width: 65px;
    vertical-align: middle;
}

.seasonImg {
	width: 20px;
}

.loadingImg {
	width: 60px;
}

.playerGoal {
	background: white;
	border-radius: 5px;
	padding: 2px 5px;
}

.cardBackDiv {
	position: absolute;
	top: -35px;
	z-index: -10;
	overflow: hidden;
	pointer-events: none;
}

.cardBack {
	width:130px;
	pointer-events: none;
}

.playerName[data-seasonid="820"],
.playerName[data-seasonid="825"],
.playerName[data-seasonid="826"],
.playerName[data-seasonid="827"]
{
	color: white;
}

.goal {
	color: #CC1100;
	position: absolute;
	top: -20px;
	border-radius: 5px;
	background: white;
	padding: 0px 10px;
}

.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* 반투명 배경 */
}

.modal-content {
	text-align: center;
	width: 30%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
}

.close {
	color: #aaaaaa;
    font-size: 28px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.playerDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.playerDetail h4, .playerDetail p {
    margin: 10px 0;
}

/* 모달 내부 카드 */
#playerModalHeader .player {
    cursor: default;
    transform: scale(1);
    z-index: auto;
    position: static;
}

#playerModalHeader {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	padding: 20px;
}
