@charset "UTF-8";

.searchbarContainer {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.form-select {
	border: none;
	width: 150px;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
}

.searchbar {
	width: 800px;
	border-radius: 50px;
	background: white;
}

.search-container {
	display: flex;
	align-items: center;
	border: 2px solid #222222;
	border-radius: 50px;
	width: 800px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
	width: 760px;
	border: none;
	font-size: 14px;
	margin-left: 30px;
	outline: none;
}

.searchButton:focus {
	box-shadow: none;
}

